{% extends "base.html" %} {%block title%} Sign Up {%endblock%} {% block
sign_up%}

<style>
  body {
    background-image: url("/static/triangles_background.png"); background-size: cover;
  }
  .col-md-8 {
    background: white;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 10px;
    border-color: gray;
    border: 3px;
  }
  ul {
    margin-bottom: 20px;
  }
  ul a {
    font-size: 29px;
    text-decoration: none;
    color: darkgrey;
  }
  label {
    color: darkgray;
    font-size: 19px;
  }
  ul a:hover {
    text-decoration: none;
  }
  .btn {
    background-color: orange;
    color: white;
    margin-top: 1em;
  }
  img {
    margin-top: 10%;
    left: 50%;
  }
  .login:hover{
    color: orange;
    font-weight: 250;
    }
</style>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="border-radius: 0%;">
        <div class="row">
          <div
            class="col-md-5"
            style="background-image: url(&quot/static/triangles_orange.png&quot); background-size: cover; padding-bottom: 1em;"
          >
          <div style="color: white;">
            <img src="/static/loremlogo2.png" style="margin-right: 40px;">
            <p style="text-align:center; font-size: 200%; font-weight: bold; margin-top: 1em;">Dolor!</p>
            <p style="text-align: center;">sit amet, consectetur <br> adipisicing elit<p><br>
            <ul style="list-style-type: circle;">
              <li>sed do eiusmod tempor</li>
              <li>incididunt ut labore</li>
              <li>incididunt ut labore</li>
              <li>et dolore magna aliqua.</li>
            </ul>
          </div>
          </div>
          <div class="col-md-7">
            <ul>
              <form method="POST">
                <div class="form-group">
                  <a class="login" href="/login">Login</a>
                  <label style="font-size: 29px">/</label>
                  <a style="color: orange; font-size: 200%; font-weight: 500;" href="#">Sign Up</a>
                  <br />
                  <label class="label control-label" style="margin-top: 35px"
                    ></label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Email cím"
                  />
                  <label class="label control-label" style="margin-top: 35px"
                    ></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder="Keresztnév"
                  />
                  <label class="label control-label" style="margin-top: 35px"
                    ></label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="password1"
                    name="password1"
                    placeholder="Jelszó"
                  />
                  <label class="label control-label" style="margin-top: 35px"
                    ></label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="password2"
                    name="password2"
                    placeholder="Jelszó megerősítése"
                  />
                </div>
                <button type="submit" class="btn">Regisztrálok</button>
              </form>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</body>
{%endblock%}
